[submodule "taiga-front"]
	path = taiga-front
	url = git@github.com:MatLaft/taiga-front.git
[submodule "taiga-back"]
	path = taiga-back
	url = git@github.com:MatLaft/Taiga-back.git
[submodule "taiga-front-next"]
	path = taiga-front-next
	url = git@github.com:MatLaft/Taiga-front-next.git
