[submodule "taiga-front"]
	path = taiga-front
	url = git@github.com:MatLaft/taiga-front-schedule-management.git
[submodule "taiga-back"]
	path = taiga-back
	url = git@github.com:MatLaft/taiga-back-schedule-management.git
[submodule "taiga-front-next"]
	path = taiga-front-next
	url = git@github.com:MatLaft/taiga-front-next-schedule-management.git
