[submodule "taiga-front"]
	path = components/taiga-front
	url = https://github.com/MatLaft/taiga-front-schedule-management.git
[submodule "taiga-back"]
	path = components/taiga-back
	url = https://github.com/MatLaft/taiga-back-schedule-management.git
[submodule "taiga-front-next"]
	path = components/taiga-front-next
	url = https://github.com/MatLaft/taiga-front-next-schedule-management.git
